<div class="card" data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>

  <div class="card" data-aos="fade-down" data-aos-duration="4000">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>
  <div class="card" data-aos="fade-right" data-aos-duration="4000">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>

  <div class="card" data-aos="fade-left" data-aos-duration="4000">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>

  <div class="card" data-aos="fade-down-left" data-aos-duration="4000">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>
  
  
  <div class="card" data-aos="flip-left">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>

  <div class="card" data-aos="flip-up">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>
  
  <div class="card" data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>

  <div class="card" data-aos="fade-up"
  data-aos-anchor-placement="bottom-center">
      <img src="img_avatar.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>John Doe</b></h4> 
        <p>Architect & Engineer</p> 
      </div>
    </div>

    <div class="card" data-aos="fade-up"
    data-aos-anchor-placement="center-center">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4> 
          <p>Architect & Engineer</p> 
        </div>
      </div>

      <div class="card" data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
          <img src="img_avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John Doe</b></h4> 
            <p>Architect & Engineer</p> 
          </div>
        </div>

        <div class="card" data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-delay="300"
        data-aos-offset="0">
            <img src="img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4> 
              <p>Architect & Engineer</p> 
            </div>
          </div>

          <div class="card" data-aos="fade-left"
          data-aos-anchor="#example-anchor"
          data-aos-offset="500"
          data-aos-duration="500">
              <img src="img_avatar.png" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>John Doe</b></h4> 
                <p>Architect & Engineer</p> 
              </div>
            </div>

            <div class="card" data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">
                <img src="img_avatar.png" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>John Doe</b></h4> 
                  <p>Architect & Engineer</p> 
                </div>
              </div>
  
              <div class="card" data-aos="zoom-out-left">
                  <img src="img_avatar.png" alt="Avatar" style="width:100%">
                  <div class="container">
                    <h4><b>John Doe</b></h4> 
                    <p>Architect & Engineer</p> 
                  </div>
                </div>
    

